In [455]:
import pandas as pd
from scipy.stats import poisson
import numpy as np
import math
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

# UTILS

In [456]:
def bound_norm_random(low, high):
    res = np.random.normal((high+low)/2,(high-low)/6)
    if (res<low or res>high):
        res = bound_norm_random(low, high)
    return res

# TYPE/PHASE

In [457]:
EXPERIMENT_TYPES = ['1 off run', 'Monte Carlo', 'Monte Carlo Parameter Sweep', 'Monte Carlo Pairwise']

experiment_type = EXPERIMENT_TYPES[1]
monte_carlo_runs = 100

#correct number of runs if inconsistent with experiment type
if (experiment_type == EXPERIMENT_TYPES[0]):
    monte_carlo_runs = 1

# TIMESCALE

In [458]:
SECOND = 1
MINUTE = 60*SECOND
HOUR = 60*MINUTE
DAY = 24*HOUR
DURATION_OF_UNIT_OF_TIME = 1*DAY

experiment_steps = 1000
experiment_duration = experiment_steps * DURATION_OF_UNIT_OF_TIME
time_array = np.arange(0,experiment_steps*DURATION_OF_UNIT_OF_TIME,DURATION_OF_UNIT_OF_TIME)

# MECHANISMS (dimension)

In [459]:
mechanisms_names = ['mech_one', 'mech_two', 'mech_three']

# STATES (dimension)

In [460]:
states_names = ['a', 'b', 'c']
states_data = [[np.zeros(experiment_steps)]*len(states_names)]*monte_carlo_runs
states_data = np.zeros((monte_carlo_runs, experiment_steps, len(states_names)), dtype=int)

## Initial Conditions

In [461]:
states_0 = {
    'a': 0,
    'b': 0,
    'c': 300
}
# an initial condition must be set for every state
assert np.array([k in states_0 for k in states_names]).all(), 'Error: The initial condition of one or more states is unkonwn'

# copy initial condition to the states dataset
for i in range(len(states_names)):
    states_data[:,0,i] = states_0[states_names[i]]

In [462]:
T_0 = 0
time_array = T_0 + time_array

## Mechanisms Coef (params)

In [463]:
mech_one_coef_A = 0.05

# MECHANISMS EQUATIONS (func)

In [464]:
def mech_one(_states_data, _time_array, _run, _step, args):
#    print('mech 1')
    _states_data[_run, _step, states_names.index('a')] += (1-mech_one_coef_A)*args[0]
    _states_data[_run, _step, states_names.index('b')] += mech_one_coef_A*args[0]
    return _states_data

def mech_two(_states_data, _time_array, _run, _step, args):
#    print('mech 2')
    _states_data[_run, _step, states_names.index('a')] -= args[0]
    return _states_data

def mech_three(_states_data, _time_array, _run, _step, args):
#    print('mech 3')
    _states_data[_run, _step, states_names.index('b')] -= args[0]
    return _states_data

def mech_four(_states_data, _time_array, _run, _step):
#    print('mech 4')
    _states_data[_run, _step, states_names.index('a')] = _states_data[_run, _step-1, states_names.index('a')]
    _states_data[_run, _step, states_names.index('b')] = _states_data[_run, _step-1, states_names.index('b')] 
    return _states_data

mechanisms = [eval(m) for m in mechanisms_names]

## Behavioral Model Coef (params)

In [465]:
behavior_one_coef_A = 0.01
behavior_one_coef_B = -0.01

behavior_two_coef_A = 1

# BEHAVIORAL MODEL (func)

In [466]:
behaviors_names = ['behavior_one', 'behavior_two']
def behavior_one(_states_data, _time_array, _run, _step):    
    c_var = (  _states_data[_run, _step, states_names.index('c')]
             - _states_data[_run, _step-1, states_names.index('c')] )
    c_var_perc = c_var / _states_data[_run, _step-1, states_names.index('c')]
    
    if (c_var_perc > behavior_one_coef_A):
        return mech_one(_states_data, _time_array, _run, _step, [c_var])
    elif (c_var_perc < behavior_one_coef_B):
        return mech_two(_states_data, _time_array, _run, _step, [-c_var])
    return _states_data

def behavior_two(_states_data, _time_array, _run, _step):
    b_balance = _states_data[_run, _step-1, states_names.index('b')]
    if (b_balance > behavior_two_coef_A):
        return mech_three(_states_data, _time_array, _run, _step, [b_balance])
    return _states_data

behaviors = [eval(b) for b in behaviors_names]

# ENVIRONMENTAL PROCESS (dimension)

In [467]:
env_proc_names = ['proc_one']

## Stochastic Process Coef (params)

In [468]:
proc_one_coef_A = 0.7
proc_one_coef_B = 1.3

# ENVIRONMENTAL PROCESS (func)

In [469]:
def proc_one(_states_data, _time_array, _run, _step):
    _states_data[_run, _step, states_names.index('a')] = _states_data[_run, _step-1, states_names.index('a')]
    _states_data[_run, _step, states_names.index('b')] = _states_data[_run, _step-1, states_names.index('b')] 
    _states_data[_run, _step, states_names.index('c')] = (  _states_data[_run, _step-1, states_names.index('c')]
                                                         * bound_norm_random(proc_one_coef_A, proc_one_coef_B) )
    return _states_data

env_proc = [eval(p) for p in env_proc_names]

# ENGINE

In [470]:
for i in range(monte_carlo_runs):
    for t in range(1,experiment_steps):
        for p in env_proc:
            states_data = p(_states_data=states_data,
                            _time_array=time_array, 
                            _run=i, 
                            _step=t)
        for b in behaviors:
            states_data = b(_states_data=states_data,
                            _time_array=time_array, 
                            _run=i, 
                            _step=t)

/Users/markusbkoch/.local/share/virtualenvs/DiffyQ-SimCAD-4_qpgnP9/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in long_scalars
  """

# DATA COLLECTION

In [471]:
data = pd.DataFrame(states_data[0], 
                    index=[[0]*experiment_steps, time_array], 
                    columns=states_names)
for i in range(1,monte_carlo_runs):
    b = pd.DataFrame(states_data[i],
                     index=[[i]*experiment_steps, time_array], 
                     columns=states_names)
    data = data.append(b)
data

               a  b    c
0  0           0  0  300
   86400      15  0  316
   172800    -29  0  272
   259200     28  3  332
   345600     19  0  323
   432000     26  0  331
   518400     56  1  363
   604800     20  1  327
   691200     40  2  349
   777600     22  0  331
   864000    -23  0  286
   950400    -52  0  257
   1036800   -33  0  276
   1123200   -33  0  274
   1209600   -21  0  286
   1296000   -15  0  292
   1382400   -20  0  287
   1468800    -1  0  306
   1555200     9  0  317
   1641600     2  0  310
   1728000     6  0  315
   1814400   -66  0  243
   1900800  -106  0  203
   1987200  -119  0  190
   2073600  -117  0  192
   2160000  -145  0  164
   2246400  -152  0  157
   2332800  -164  0  145
   2419200  -166  0  143
   2505600  -168  0  141
...          ... ..  ...
99 83808000 -302  0    0
   83894400 -302  0    0
   83980800 -302  0    0
   84067200 -302  0    0
   84153600 -302  0    0
   84240000 -302  0    0
   84326400 -302  0    0
   84412800 -302  0    0
   84499200 -302  0    0
   84585600 -302  0    0
   84672000 -302  0    0
   84758400 -302  0    0
   84844800 -302  0    0
   84931200 -302  0    0
   85017600 -302  0    0
   85104000 -302  0    0
   85190400 -302  0    0
   85276800 -302  0    0
   85363200 -302  0    0
   85449600 -302  0    0
   85536000 -302  0    0
   85622400 -302  0    0
   85708800 -302  0    0
   85795200 -302  0    0
   85881600 -302  0    0
   85968000 -302  0    0
   86054400 -302  0    0
   86140800 -302  0    0
   86227200 -302  0    0
   86313600 -302  0    0

[100000 rows x 3 columns]